/* Style général du body */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}

/* Style pour le menu déroulant */
select {
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

/* LED : une div pour simuler les LED */
.led {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    margin: 10px;
    background-color: #aaa;
}

/* Style pour les jauges de température */
.gauge {
    margin: 20px 0;
}

.tempValue {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

label {
    font-size: 16px;
    margin-bottom: 10px;
    display: block;
    color: #555;
}

/* Style du graphique */
canvas {
    margin: 20px auto;
    display: block;
    max-width: 800px;   /* Largeur max du graphique */
    max-height: 400px;  /* Hauteur max du graphique */
    width: 80%;         /* 80% de la largeur de la fenêtre */
    height: 50%;        /* 50% de la hauteur de la fenêtre */
}
